<!DOCTYPE html>
<html>
<head>
  <title>BazaKompanija</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div id="container">

      <div id="user_header">
        <% if current_user  %>
            Logged in as <%= current_user.email %>.
            <%= link_to "Log Out", logout_path %>
        <% else %>
            <%= link_to "Sign Up", signup_path %> or
            <%= link_to "Log In", login_path %>


      <% end %>
      </div>
      <div id="container2">

          <% if flash[:notice]  %>
            <div id="flash_notice">
                <p class="notice"><%=  flash[:notice] %></p>
             </div>
          <%end%>
       <!-- <%= link_to "Unesi Kompaniju",kompanijas_path %>  -->

        <%= form_tag kompanijas_path, :method => 'get' do %>
            <div>
              <%= text_field_tag :search, params[:search] %>
              <%= submit_tag "Search", :pib => nil %>

            </div>
        <%end%>

      </div>
    </div>

    <% flash.each do |name, msg| %>
        <% content_tag :div , msg, id: "flash_#{name}" %>
    <% end %>


<%= yield %>
    <%= image_tag  "AIESEC_logo.jpg", :class => "style_image" %>
</body>
</html>



